.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    padding: 0;
}
.tile {
    font-size: 120px;
    width: 211px;
    height: 211px;
    background-color: blue;
    text-align: center;
    box-sizing: border-box;
    margin: 1px;
    
}